*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: white;
    /* overflow-x: hidden; */
}
/* header and nav-bar */
.splash-nav{
    background-color: white;
    /* border: 1px solid black; */
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 85%;
    height: 60px;
    left: 7%;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#search{
    height: 50px;
    width: 500px;
}
.search-box {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
 input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
input:focus{
    outline: none;
}

.search-box > i{
    font-size: 20px;
    padding: 0 10px;
}
.search-box button{
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.search-box button:hover,
.search-box button:active{
    color: #fb730a;
}
.splash-nav > button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}
.splash-nav > p{
    position: absolute;
    left: 20%;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(to left, #fdbe84, #fc9333, #fb730a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.splash-nav img{
    position: absolute;
    left: 20px;
}
.splash-nav .search-box{
    position: absolute;
    right: 15%;
}
.splash-nav .fa-user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8% ;
    font-size: 30px;
}
.splash-nav .fa-user:hover{
    color: #fc9333;
}
.splash-nav .fa-user:active{
    color: #fb730a;
}
.nav-select ul{
    position: absolute;
    left: 7%;
    top: 20%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.nav-select ul li{
    list-style: none;
    margin-right: 100px;
}
.nav-select ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
.active{
    border-bottom: 5px solid #fb730a;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
}
.nav-select li a:hover{
    color: #fc9333;
}
.cart{
    position: absolute;
    right: 6%;
    top: 20%;
    background: none;
    border: none;
    cursor: pointer;
}
.cart .fa-shopping-cart{
    color: #fb730a;
    font-size: 40px;
}
.cart .fa-shopping-cart:hover{
    border-radius: 50%;
    background-color: #fdbe84;
    padding: 15px;
    color: white;
    transition: ease-out 0.2s;
}
.cart .fa-shopping-cart:active{
    border-radius: 50%;
    background-color: #fb730a;
    padding: 15px;
    color: white;
}

h1{
    color: #fc9333;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 70px; 
    margin-bottom: 100px;
    
    
  }


 input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
input:focus{
    outline: none;
}

.search-box > i{
    font-size: 20px;
    padding: 0 10px;
}
.search-box button{
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.splash-nav > button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.splash-nav img{
    position: absolute;
    left: 20px;
}
.splash-nav .search-box{
    position: absolute;
    right: 15%;
}
.splash-nav .fa-user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8% 
}
.splash-nav .fa-bars{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5% 
}
.products .top-prod{
    display: flex;
    flex-wrap: wrap;
    /* gap: 1px; */
}


.grid-item p{
    position: relative;
    left: 500px;
    bottom: 200px;
    color: rgb(0, 0, 0);
    

}
.grid-item h2{
    position: relative;
    left: 500px;
    top: 50px;
    color: #5f5cfc;
    font-size: 50px;
}

.products .grid-prod{
    /* position: relative; */
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 450px ;
    justify-content: left;
    /* gap: 10px; */
}
.products .grid-prod img{
    border-radius: 10px;
}
.products .grid-prod p{
    /* margin: 5px; */
    font-style: 16px;
    text-align: left;
    display: flex;
}
.remove {
    position: relative;
    left: 800px;
    bottom: 130px;
    width: 25%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    background-color: #fb730a;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px ;
}

.Price {
    position: relative;
    left: 640px;
    bottom: 161px;
    width: 25%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #fb730a;
    border: solid 1px;
    cursor: pointer;
    color: #fb730a;
    padding: 5px ;
}
.remove :hover{
    background-color: #fc9333
}
.products .grid-prod button:active{
    background-color: #fdbe84
}
.products .grid-prod button i{
    color: white;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    background: white;
    border: 2px solid black;
    border-bottom: 0;
    width: 85%;
    height: 250px;
    padding: 24px 24px 16px;
    margin-left: 7%;
    border-radius: 10px 10px 0 0;
    /* box-shadow: 10px 10px 10 10px black; */
}
.footer-social-icons{
    position: absolute;
    top: 7%;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
.footer-about{
    position: absolute;
    margin-left: 20%;
    top: 7%;
}
.footer-catalog{
    position: absolute;
    margin-left: 40%;
    top: 7%;
}
.footer-learn{
    position: absolute;
    margin-left: 60%;
    top: 7%;

}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
footer ul li a:hover{
    color: #fc9333;
}
footer ul li a:active{
    color: #fb730a;
}
ul li{
    margin: 10px;
}
footer span{
    color: #fb730a;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;   
}
footer .copyright{
    position: absolute;
    bottom: 5%;
    color: #fdbe84;
}
.footer-contact-us{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 6%;
    font-size: small;
    padding: 10px;
    background-color: #fdbe84;
    border-radius: 5px;
}
footer button{
    position: absolute;
    top: 65%;
    right: 10%;
    width: 7%;
    line-height: 15px;
    font-size: smaller;
    padding: 5px 8px;
    background-color: #fdbe84;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer button:hover{
    background-color: #fc9333
}
footer button:active{
    background-color: #fdbe84
}