*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: white;
    /* width: 1512px;
    height: 1148px;  */

    /* overflow-x: hidden; */
}
body .img{
    filter: blur(5px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 25%;
    left: 25%;
    z-index: -1;
    width: 50%;
    height: 50%;
    position: fixed;
}
/* header and nav-bar */


.splash-nav{
    background-color: white;
    /* border: 1px solid black; */
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 85%;
    height: 60px;
    left: 7%;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#search{
    height: 50px;
    width: 400px;
}
.search-box {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
 input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
input:focus{
    outline: none;
}
.splash-nav > p{
    position: absolute;
    left: 17%;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(to left, #fdbe84, #fc9333, #fb730a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-box > i{
    font-size: 20px;
    padding: 0 10px;
}
.search-box button{
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.search-box button:hover,
.search-box button:active{
    color: #fb730a;
}
.splash-nav > button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.splash-nav img{
    position: absolute;
    left: 20px;
}
.splash-nav .search-box{
    position: absolute;
    right: 15%;
}
.splash-nav .fa-user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7% ;
    font-size: 30px;
}
.splash-nav .fa-user:hover{
    color: #fc9333;
}
.splash-nav .fa-user:active{
    color: #fb730a;
}
.nav-select ul{
    position: absolute;
    left: 7%;
    top: 20%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.nav-select ul li{
    list-style: none;
    margin-right: 100px;
}
.nav-select ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
.active{
    border-bottom: 5px solid #fb730a;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
}
.nav-select li a:hover{
    color: #fc9333;
}
.cart{
    position: absolute;
    right: 6%;
    top: 20%;
    background: none;
    border: none;
    cursor: pointer;
}
.cart .fa-shopping-cart{
    color: #fb730a;
    font-size: 40px;
}
.cart .fa-shopping-cart:hover{
    border-radius: 50%;
    background-color: #fdbe84;
    padding: 15px;
    color: white;
    transition: ease-out 0.2s;
}
.cart .fa-shopping-cart:active{
    border-radius: 50%;
    background-color: #fb730a;
    padding: 15px;
    color: white;
}
.contact-form h2{
    position: absolute;
    left: 7%;
    top: 33%;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    font-stretch:extra-expanded;
    color: #5f5cfc;
}
.name {
    position: absolute;
    left: 6%;
    top: 40%;
    background-color: white;
    width: 35%;
    height: 6vh;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.name > i{
    font-size: 20px;
    padding: 0 10px;
}
 .name > input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
.name:focus{
    border: 2px solid black;
}
.contact-form #email{
    position: absolute;
    left: 6%;
    top: 50%;
    background-color: white;
    width: 33.5%;
    height: 6vh;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.contact-form #email:focus{
    border: 2px solid black;
}
.contact-form #email:active{
    border: none;
    outline: none;
}
.contact-form #message{
    position: absolute;
    left: 6%;
    top: 60%;
    background-color: white;
    width: 33.5%;
    height: 25vh;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.contact-form #message:focus{
    outline: none;
    padding: 15px;
    font-size: 20px;
}
.contact-form #message::placeholder{
    font-size: 20px;
    padding: 10px;
}
.contact-form button{
    position: absolute;
    bottom: 3%;
    left: 21%;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: #fb730a;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #fc9333;
}
.contact-form button:active{
    background-color: #fdbe84;
}

.mpt{
    position: absolute;
    right: 5.7%;
    top: 35%;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
}
/* Footer */
footer {
    position: relative;
    bottom: 0;
    margin-top: 40%;
    background: white;
    border: 2px solid black;
    border-bottom: 0;
    width: 85%;
    height: 200px;
    padding: 24px 24px 16px;
    margin-left: 7%;
    border-radius: 10px 10px 0 0;
    /* box-shadow: 10px 10px 10 10px black; */
}
.footer-social-icons{
    position: absolute;
    top: 7%;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
.footer-about{
    position: absolute;
    margin-left: 20%;
    top: 7%;
}
.footer-catalog{
    position: absolute;
    margin-left: 40%;
    top: 7%;
}
.footer-learn{
    position: absolute;
    margin-left: 60%;
    top: 7%;

}
footer ul li{
    list-style: none;
    font-size: 14px;
}
footer ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
footer ul li a:hover{
    color: #fc9333;
}
footer ul li a:active{
    color: #fb730a;
}
ul li{
    margin: 10px;
}
footer span{
    color: #fb730a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;   
}
footer .copyright{
    position: absolute;
    bottom: 5%;
    color: #fdbe84;
}
.footer-contact-us{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 6%;
    font-size: 10px;
    padding: 10px;
    background-color: #fdbe84;
    border-radius: 5px;
}
footer button{
    position: absolute;
    top: 65%;
    right: 10%;
    width: 7%;
    line-height: 12px;
    font-size: 10px;
    padding: 5px 8px;
    background-color: #fdbe84;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer button:hover{
    background-color: #fc9333
}
footer button:active{
    background-color: #fdbe84
}