*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* body img{
    filter: blur(3px);
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 25%;
    height: 25%;
    position: fixed;
    background-repeat: repeat-x;
} */
.go-back{
    float: left;
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 50px;
    cursor: pointer;
  }
  .go-back a{
    /* display: inline-block; */
    text-decoration: none;
    color: black;
    /* border-radius: 50%;
    background-color: #5f5cfc; */
    /* padding: 10px 20px; */
  }
.space{
    position: relative;
    width: 60%;
    height: 350px;
    padding: 2rem 1rem;
    margin: 7% auto ;
    background-color: white;
    border: 1px solid #fc9333;
    border-radius: 10px;
    /* text-align: Center; */
    box-shadow: 0px 20px 35px rgba(11, 57, 225, 0.453);
}
p{
    position: absolute;
    width: 40%;
    text-align: center;
    left: 38%;
    top: 30%;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: #5f5cfc;
    margin-bottom: 40px;
}
input{
    position: absolute;
    font-size: medium;
    width: 70%;
    outline: none;
    border: 1.8px solid black;
    padding: 6px 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: #ffff;
    margin-left: 15%;
}
input :hover{
    border: 2px solid #2bbf78;
}

::placeholder{
    color: rgb(149, 159, 163);
    font-size: small;
}
#email{
    position: absolute;
    font-size: medium;
    color: black;
    margin-left: 15%;
    margin-top: 40px;
    /* float: left; */
}
button{
    position: absolute;
    font-size: 1rem;
    top: 70%;
    left: 40%;
    margin: 10px 15px;
    padding: 5px;
    border-radius: 8px;
    border: none; 
    outline: none;
    width: 15%;
    background: #fc9333;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: #fc9333;
    border: 1px solid #fc9333;
}
