*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: white;
    /* overflow-x: hidden; */
}
/* header and nav-bar */
.splash-nav{
    background-color: white;
    /* border: 1px solid black; */
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 85%;
    height: 60px;
    left: 7%;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#search{
    height: 50px;
    width: 500px;
}
.search-box {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
 input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
input:focus{
    outline: none;
}

.search-box > i{
    font-size: 20px;
    padding: 0 10px;
}
.search-box button{
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.search-box button:hover,
.search-box button:active{
    color: #fb730a;
}
.splash-nav > button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}
.splash-nav > p{
    position: absolute;
    left: 20%;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(to left, #fdbe84, #fc9333, #fb730a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.splash-nav img{
    position: absolute;
    left: 20px;
}
.splash-nav .search-box{
    position: absolute;
    right: 15%;
}
.splash-nav .fa-user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8% ;
    font-size: 30px;
}
.splash-nav .fa-user:hover{
    color: #fc9333;
}
.splash-nav .fa-user:active{
    color: #fb730a;
}
.nav-select ul{
    position: absolute;
    left: 7%;
    top: 20%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.nav-select ul li{
    list-style: none;
    margin-right: 100px;
}
.nav-select ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
.active{
    border-bottom: 5px solid #fb730a;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
}
.nav-select li a:hover{
    color: #fc9333;
}
.cart{
    position: absolute;
    right: 6%;
    top: 20%;
    background: none;
    border: none;
    cursor: pointer;
}
.cart .fa-shopping-cart{
    color: #fb730a;
    font-size: 40px;
}
.cart .fa-shopping-cart:hover{
    border-radius: 50%;
    background-color: #fdbe84;
    padding: 15px;
    color: white;
    transition: ease-out 0.2s;
}
.cart .fa-shopping-cart:active{
    border-radius: 50%;
    background-color: #fb730a;
    padding: 15px;
    color: white;
}

/* Large Advert */
.large-advert {
    position: absolute;
    background: url(../images/Icons11.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 365px;
    width: 87%;
    margin-left: 7%;
    margin-top: 200px;
    border-radius: 8px;
}

/* Hot Sales Grid */
.items-grid-container {
    position: absolute;
    margin-top: 750px;
    margin-left: 149px;
    padding-top: 0px;  
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 151px;
    grid-column-gap: 61px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.grid-item-1 {
    background: url(../images/Icons12.png);
    padding: 0px;
    border-radius: 8px;
    border: 1px solid black;
}

.grid-item-2 {
    background: url(../images/Icons13.png);
    padding: 0px;
    border-radius: 8px;
    border: 1px solid black;
}

.grid-item-3 {
    background: url(../images/Icons14.png);
    padding: 0px;
    border-radius: 8px;
    border: 1px solid black;
}

.grid-item-4 {
    background: url(../images/Icons15.png);
    padding: 0px;
    border-radius: 8px;
    border: 1px solid black;
}

.grid-item-5 {
    background: url(../images/Icons16.png);
    padding: 0px;
    border-radius: 8px;
    border: 1px solid black;
}

.grid-item-6 {
    background: url(../images/Icons17.png);
    padding: 0px;
    border-radius: 8px;
    border: 1px solid black;
}

/* Popular Searches */
h1 {
    position: absolute;
    height: 44px;
    width: 440px;
    margin-left: 7%;
    margin-top: 1000px;
    border-radius: 0px;
    padding: 10px;
    font-size: 48px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #5f5cfc;
}

.popular-searches-grid-container {
    position: absolute;
    /* width: 1340px; */
    height: 1095px;
    margin-top: 1125px;
    margin-left: 7%;
    margin-right: 6%;
    padding-top: 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: 470px 470px 470px;
    grid-template-rows: 538px 538px;
    grid-column-gap: 90px;
    grid-row-gap: 19px;
}

/* .ps-grid-item {
   background-color: white;
} */

.grid-img {
    width: 370px;
    height: 300px;
}

h5 {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
}

.compare-prize {
    margin-top: 22px;
    height: 40px;
    width: 266.5px;
    margin-left: 51.75px;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    background-color: #fb730a;
    border-color: #fb730a;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.add-to-cart {
    margin-top: 22px;
    height: 40px;
    width: 266.5px;
    margin-left: 51.75px;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    background-color: #fb730a;
    border-color: #fb730a;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.grid-img1 {
    background: url(/views/images/Icons18.png);
}

.grid-img2 {
    background: url(/views/images/Icons20.png);
}

.grid-img3 {
    background: url(/views/images/Icons22.png);
}

.grid-img4 {
    background: url(/views/images/Icons19.png);
}

.grid-img5 {
    background: url(/views/images/Icons21.png);
}

.grid-img6 {
    background: url(/views/images/Icons24.png);
}

/* Subscribe */
.subscribe {
    position: absolute;
    width: 1488px;
    height: 229px;
    margin-left: 12px;
    margin-top: 2200px;
}

.Icon10 {
    position: relative;
    margin-top: 200px;
    margin-left: 75px;
    width: 150px;
    height: 150px;
    color: #fb730a;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #fb730a;
    margin-top: 53px;
    margin-left: 265.5px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 265.5px;
    margin-top: 16px;
    color: white;
}

.subscribe-button {
    position: absolute;
    width: 83px;
    height: 40px;
    background-color: #fb730a;
    margin-left: 1209px;
    margin-top: 95px;
    border-radius: 10px;
    border: #fb730a;
}
/* Footer */
footer {
    position: absolute;
    top: 300%;
    bottom: 0;
    background: white;
    border: 2px solid black;
    border-bottom: 0;
    width: 85%;
    height: 250px;
    padding: 24px 24px 16px;
    margin-left: 7%;
    border-radius: 10px 10px 0 0;
    /* box-shadow: 10px 10px 10 10px black; */
}
.footer-social-icons{
    position: absolute;
    top: 7%;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
.footer-about{
    position: absolute;
    margin-left: 20%;
    top: 7%;
}
.footer-catalog{
    position: absolute;
    margin-left: 40%;
    top: 7%;
}
.footer-learn{
    position: absolute;
    margin-left: 60%;
    top: 7%;

}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
footer ul li a:hover{
    color: #fc9333;
}
footer ul li a:active{
    color: #fb730a;
}
ul li{
    margin: 10px;
}
footer span{
    color: #fb730a;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;   
}
footer .copyright{
    position: absolute;
    bottom: 5%;
    color: #fdbe84;
}
.footer-contact-us{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 6%;
    font-size: small;
    padding: 10px;
    background-color: #fdbe84;
    border-radius: 5px;
}
footer button{
    position: absolute;
    top: 65%;
    right: 10%;
    width: 7%;
    line-height: 15px;
    font-size: smaller;
    padding: 5px 8px;
    background-color: #fdbe84;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer button:hover{
    background-color: #fc9333
}
footer button:active{
    background-color: #fdbe84
}