*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #5f5cfc;
    /* overflow-x: hidden; */
}

.splash-nav{
    background-color: white;
    position: relative;
    width: 85%;
    height: 60px;
    left: 7%;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#search{
    height: 50px;
    width: 500px;
}
.search-box {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
 input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
input:focus{
    outline: none;
}

.search-box > i{
    font-size: 20px;
    padding: 0 10px;
}
.search-box button{
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.splash-nav > button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.splash-nav img{
    position: absolute;
    left: 20px;
}
.splash-nav .search-box{
    position: absolute;
    right: 15%;
}
.splash-nav .fa-user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8% 
}
.splash-nav .fa-bars{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5% 
}
.products .top-prod{
    display: flex;
    flex-wrap: wrap;
    /* gap: 1px; */
}
.products .top-prod > img{
    /* position: absolute; */
    width: 25vw;
    height: 40vh;
    margin-left: 6%;
    margin-top: 5%;
    border-radius: 10px;
}
.products .grid-prod{
    /* position: relative; */
    margin-top: 5%;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    gap: 100px;
}
.products .grid-prod img{
    border-radius: 10px;
}
.products .grid-prod p{
    margin: 5px;
    font-style: 16px;
    text-align: center;
}
.products .grid-prod button{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #fb730a;
    border: none;
    cursor: pointer;
}
.products .grid-prod button:hover{
    background-color: #fc9333
}
.products .grid-prod button:active{
    background-color: #fdbe84
}
.products .grid-prod button i{
    color: white;
}
.about-content{
    width: 85%;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 6%;
    background-color: white;
    padding: 40px 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    border-radius: 10px;
}
.about-content .top-left{
    width: 20%;
}
.about-content .top-right{
    float: right;
    width: 70%;
    margin-top: -3.5%;
}
.about-content .bottom{
    margin-top: 3%;
}
.subscribe{
    margin: 50px 0;
    margin-left: 7%;
    /* width: 100%; */
    align-items: center;
    /* justify-content: center; */
}
.subscribe i{
    color: white;
    border-radius: 50%;
    border: 2px black;
    background-color: #fb730a;
    padding: 30px;
    font-size: 60px;
}
.subscribe p{
    color: white;
    margin-left: 9%;
    margin-top: -6.2%;
    font-weight: bolder;
    font-size: 20px;
}
.subscribe p span{
    color: #fb730a;
    font-size: 40px;
    font-weight: bolder;
}
.subscribe button{
    margin-left: 2%;
    background-color: #fb730a;
    padding:8px 5px;
    border-radius: 7px;
    border: none;
    color: white;
    cursor: pointer;
}
.subscribe button:hover{
    background-color: #fc9333
}
.subscribe button:active{
    background-color: #fdbe84
}
/* Footer */
footer {
    position: relative;
    bottom: 0;
    background: white;
    width: 85%;
    height: 250px;
    padding: 24px 24px 16px;
    margin-left: 7%;
    border-radius: 10px 10px 0 0;
}
.footer-social-icons{
    position: absolute;
    top: 7%;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
.footer-about{
    position: absolute;
    margin-left: 20%;
    top: 7%;
}
.footer-catalog{
    position: absolute;
    margin-left: 40%;
    top: 7%;
}
.footer-learn{
    position: absolute;
    margin-left: 60%;
    top: 7%;

}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
footer ul li a:hover{
    color: #fc9333;
}
footer ul li a:active{
    color: #fb730a;
}
ul li{
    margin: 10px;
}
footer span{
    color: #fb730a;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;   
}
footer .copyright{
    position: absolute;
    bottom: 5%;
    color: #fdbe84;
}
.footer-contact-us{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 6%;
    font-size: small;
    padding: 10px;
    background-color: #fdbe84;
    border-radius: 5px;
}
footer button{
    position: absolute;
    top: 65%;
    right: 10%;
    width: 7%;
    line-height: 15px;
    font-size: smaller;
    padding: 5px 8px;
    background-color: #fdbe84;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer button:hover{
    background-color: #fc9333
}
footer button:active{
    background-color: #fdbe84
}   