*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: white;
    /* width: 1512px;
    height: 1148px;  */

    /* overflow-x: hidden; */
}
body .img{
    filter: blur(5px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 25%;
    left: 25%;
    z-index: -1;
    width: 50%;
    height: 50%;
    position: fixed;
}
/* header and nav-bar */


.splash-nav{
    background-color: white;
    /* border: 1px solid black; */
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 85%;
    height: 60px;
    left: 7%;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#search{
    height: 50px;
    width: 400px;
}
.search-box {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
 input{
    height: 100%;
     width: 100%;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 2px;
} 
input:focus{
    outline: none;
}
.splash-nav > p{
    position: absolute;
    left: 17%;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(to left, #fdbe84, #fc9333, #fb730a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-box > i{
    font-size: 20px;
    padding: 0 10px;
}
.search-box button{
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.search-box button:hover,
.search-box button:active{
    color: #fb730a;
}
.splash-nav > button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.splash-nav img{
    position: absolute;
    left: 20px;
}
.splash-nav .search-box{
    position: absolute;
    right: 15%;
}
.splash-nav .fa-user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9% ;
    font-size: 30px;
}
.splash-nav .fa-user:hover{
    color: #fc9333;
}
.splash-nav .fa-user:active{
    color: #fb730a;
}
.nav-select ul{
    position: absolute;
    left: 7%;
    top: 20%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.nav-select ul li{
    list-style: none;
    margin-right: 100px;
}
.nav-select ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
.active{
    border-bottom: 5px solid #fb730a;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
}
.nav-select li a:hover{
    color: #fc9333;
}
.cart{
    position: absolute;
    right: 6%;
    top: 20%;
    background: none;
    border: none;
    cursor: pointer;
}
.cart .fa-shopping-cart{
    color: #fb730a;
    font-size: 40px;
}
.cart .fa-shopping-cart:hover{
    border-radius: 50%;
    background-color: #fdbe84;
    padding: 15px;
    color: white;
    transition: ease-out 0.2s;
}
.cart .fa-shopping-cart:active{
    border-radius: 50%;
    background-color: #fb730a;
    padding: 15px;
    color: white;
}
.t-acct{
    display: block;
}
#acct{
    position: absolute;
    display: block ;
    /* width: 5%; */
    right: 1.5%;
    bottom: 15%;
    box-shadow: 2px 2px 2px 2px #aaa;
    display: none;
}
#acct button{
    padding: 5px;
    margin: 5px 7px;
    background: none;
    border: none;
    /* border: 1px solid #fb730a; */
    cursor: pointer;
}
#acct button > .account:hover{
    background-color: #fc9333;
}
/* Content */


/* Hippo Partner Program */
.Partner-Program {
    position: absolute;
    height: 304px;
    width: 435px;
    margin-left: 800px;
    margin-top: 135px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

h3 {
    height: 28px;
    /*width: 389px;*/
    margin-top: 33px;
    margin-left: 22px;
    margin-right: 24px;
    padding: 10px;
    background-color: #FB7E0A;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

h4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 31px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1B1C1E;
}

.vector {
    position: absolute;
    margin-top: 56px;
    margin-left: 31px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.Partner-Program > button {
    margin-top: 170px;
    margin-left: 22px;
    height: 48px;
    width: 210px;
    border-radius: 0px;
    padding: 10px;
    background-color: #FB7E0A;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

h2 {
    position: absolute;
    width: 571px;
    height: 28px;
    margin-left: 456px;
    margin-top: 470px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 28px;
    color: #0D17FF;
}

.Partner-program-grid {
    position: absolute;
    margin-top: 553px;
    display: grid;
    justify-content: center;
    margin-left: 82px;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 307px;
    grid-column-gap: 147px;
}

.grid-item {
    font-weight: 500;
    font-size: 32px;
    line-height: 28px;
    color: #0D17FF;
}

/* Footer */
/* Footer */
footer {
    position: relative;
    bottom: 0;
    background: white;
    border: 2px solid black;
    border-bottom: 0;
    width: 85%;
    height: 200px;
    padding: 24px 24px 16px;
    margin-left: 7%;
    border-radius: 10px 10px 0 0;
    margin-top: 921px;
    /* box-shadow: 10px 10px 10 10px black; */
}
.footer-social-icons{
    position: absolute;
    top: 7%;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
.footer-about{
    position: absolute;
    margin-left: 20%;
    top: 7%;
}
.footer-catalog{
    position: absolute;
    margin-left: 40%;
    top: 7%;
}
.footer-learn{
    position: absolute;
    margin-left: 60%;
    top: 7%;

}
footer ul li{
    list-style: none;
    font-size: 14px;
}
footer ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
footer ul li a:hover{
    color: #fc9333;
}
footer ul li a:active{
    color: #fb730a;
}
ul li{
    margin: 10px;
}
footer span{
    color: #fb730a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;   
}
footer .copyright{
    position: absolute;
    bottom: 5%;
    color: #fdbe84;
}
.footer-contact-us{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 6%;
    font-size: 10px;
    padding: 10px;
    background-color: #fdbe84;
    border-radius: 5px;
}
footer button{
    position: absolute;
    top: 65%;
    right: 10%;
    width: 7%;
    line-height: 12px;
    font-size: 10px;
    padding: 5px 8px;
    background-color: #fdbe84;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer button:hover{
    background-color: #fc9333
}
footer button:active{
    background-color: #fdbe84
}