<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="account.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!--Header-->
        <header>
            <!-- Search and Header -->
            <section>
                <div class="search">
                    <a href="">
                        <img src="img/V1.png" alt="" class="arr1">
                        <img src="img/V2.png" alt="" class="arr2">
                    </a>
                    <img src="img/hippo-compares1.png" alt="logo" class="logo">
                    <div class="search-box">
                        <button class="button2"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <input type="search" name="search" id="search" placeholder="" class="input1">
                    </div>
                    <button class="button3">ADD PANEL +</button>
                </div>
        </header>
                <!--Nav-bar-->
                <div class="nav">
                    <a href="" class="dashboard"><img src="img/V3.png" alt="" class="V V3"><p class="p p3">Dashboard</p></a>
                    <a href="" class="cart"><img src="img/V4.png" alt="" class="V V4"><p class="p p4">Cart</p></a>
                    <a href="" class="product"><img src="img/V5.png" alt="" class="V5"><img src="img/V6.png" alt="" class="V6"><p class="p p5">Product</p></a>
                    <a href="" class="shipping"><img src="img/V7.png" alt="" class="V V7"><p class="p p7">Shipping</p></a>
                    <a href="" class="payment"><img src="img/V8.png" alt="" class="V V8"><p class="p p8">Payment</p></a>
                    <a href="" class="store"><img src="img/V9.png" alt="" class="V V9"><p class="p p9">Store</p></a>
                    <a href="" class="settings"><img src="img/V10.png" alt="" class="V V10"><p class="p p10">Settings</p></a>
                    <a href="" class="help"><p class="V p11">HELP</p></a>
                    <a href="" class="messages"><img src="img/V11.png" alt="" class="V V11"><p class="p p12">Messages</p></a>
                    <a href="" class="log-out"><img src="img/V12.png" alt="" class="V V12"><p class="p p13">Log out</p></a>
                </div>
                 
                <!--Content 1-->
                <div class="content1">
                    <p class="p14">ACCOUNT</p>
                    <p class="p15">Hi Zuritamous,</p>
                    <p class="p16">We Are Always At Service.</p>
                    <img src="img/V13.png" alt="" class="V13">
                </div>
                
                <!--Wishlist-->  
                <p class="p17">My Wishlist</p> 
                <div class="wishlist-grid">
                    <div class="wish-grid wish-grid-1"><img src="img/v14.png" alt=""></div>
                    <div class="wish-grid wish-grid-2"><img src="img/v15.png" alt=""></div>
                    <div class="wish-grid wish-grid-3"><img src="img/v16.png" alt=""></div>
                    <div class="wish-grid wish-grid-4"><img src="img/v17.png" alt=""></div>
                </div>
                <p class="p18">Suggested Items For you</p> 
                <div class="suggestion-big-grid">
                    <div class="suggestion-grid suggestion-grid-1"><img src="img/v18.png" alt=""></div>
                    <div class="suggestion-grid suggestion-grid-2"><img src="img/v19.png" alt=""></div>
                    <div class="suggestion-grid suggestion-grid-3"><img src="img/v20.png" alt=""></div>
                    <div class="suggestion-grid suggestion-grid-4"><img src="img/v21.png" alt=""></div>
                    <div class="suggestion-grid suggestion-grid-4"><img src="img/v22.png" alt=""></div>
                    <div class="suggestion-grid suggestion-grid-4"><img src="img/v23.png" alt=""></div>
                </div> 
                <p class="p19">Categories</p> 
                <div class="categories-big-grid">
                    <div class="categories-grid categories-grid-1"><img src="img/v24.png" alt=""></div>
                    <div class="categories-grid categories-grid-2"><img src="img/v25.png" alt=""></div>
                    <div class="categories-grid categories-grid-3"><img src="img/v26.png" alt=""></div>
                </div>      
            </section>
        <!-- Footer -->
        <footer>
            <!--Copyright-->
            <div class="copyright">&copy;2022 Hippocompares</div>
            <!--Social icons-->
            <div class="social-icons">
                <div class="social logo5"><img src="img/Icon5.png" alt=""></div>
                <div class="social logo6"><img src="img/Icon6.png" alt=""></div>
                <div class="social logo7"><img src="img/Icon7.png" alt=""></div>
                <div class="social logo8"><img src="img/Icon8.png" alt=""></div>
                <div class="social logo9"><img src="img/Icon9.png" alt=""></div>
            </div>
            <!--Footer NavBar-->
            <div class="footer-navbar-grid-container">
                <div class="footer-grid">ABOUT</div>
                <div class="footer-grid">CATALOG</div>
                <div class="footer-grid">LEARN MORE</div>
                <div class="footer-grid-item">About Hippocompares</div>
                <div class="footer-grid-item">Televisions</div>
                <div class="footer-grid-item">Browser Extention</div>
                <div class="footer-grid-item">Cookie policy</div>
                <div class="footer-grid-item">Cell phones</div>
                <div class="footer-grid-item">Enterprise</div>
                <div class="footer-grid-item">Privacy Policy</div>
                <div class="footer-grid-item">Brands</div>
                <div class="footer-grid-item">Data API</div>
                <div class="footer-grid-item">Contact</div>
                <div class="footer-grid-item">Digital Cameras</div>
                <div class="footer-grid-item">Help</div>
                <div class="footer-grid-item"></div>
                <div class="footer-grid-item">Tablet</div>
                <div class="footer-grid-item"></div>
                <div class="footer-grid-item"></div>
                <div class="footer-grid-item">Wares</div>
            </div>
            <!--Contact Us-->
            <div class="contact">
                <div class="address"><p class="cont">Contact Us<br>Hippocompares<br>90 Taison St.<br>Maitama Zone 2, Abuja<br>P.M.B 406<br>12345463762</p></div>
                <div class="comments"><p>Comments and<br>Suggestions</p></div>
            </div>
        </footer>
        <script>
            var btnContainer = document.getElementById("navSelect");
            var btns = btnContainer.getElementsByClassName("btn");
    
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName('active');
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }
        </script>
        
    </body>
</html>