<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="styles/Cart.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Search and Nav-bar -->
    <section>
      <div class="splash-nav">
        <img
          src="/hippo-compares.svg"
          alt="logo"
          aria-hidden="true"
          style="height: 60px; width: 120px"
        />
        <p>Hippo Compares</p>
        <div class="search-box">
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Search for products and deals"
          />
          <button onclick="window.location='/search'">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="t-acct">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()"
            ><i class="fa fa-user"></i
          ></a>

          <div id="acct">
            <button
              type="submit"
              class="account"
              onclick="window.location='/views/accounts.html'"
            >
              Account
            </button>
            <hr style="height: 2px; background-color: #fb730a" />
            <form action="/logout" method="post">
              <button type="submit" id="logout">Logout</button>
            </form>
          </div>
        </div>
      </div>

      <
      <div class="nav-select" id="navSelect">
        <ul>
          <li>
            <a class="btn" href="/home">Home </a>
          </li>
          <li><a class="btn" href="/top-products">Deals </a></li>
          <li><a class="btn" href="#">Stores</a></li>
          <li>
            <a class="btn" href="/categories">Categories</a>
          </li>
          <li><a class="btn" href="/wishlist">Wishlist</a></li>
          <li>
            <a class="btn" href="/contact">Contact us</a>
          </li>
        </ul>
      </div>

      <div>
        <button onclick="window.location='/cart'" class="cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </section>

    <h1>CART</h1>

    <div class="products">
      <div class="grid-prod">
        <div class="grid-item">
          <h2>Cosmetics</h2>
          <img
            src="images/img3.jpeg"
            alt=""
            style="width: 450px; height: 300px"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            aspernatur sint expedita quae sapiente accusamus natus, quas cumque
            sequi voluptate fugit eius labore dignissimos quibusdam laudantium
            ratione fuga itaque repudiandae?
          </p>
          <button class="remove">Remove</button>
          <button class="Price">Price</button>
          <hr />
        </div>

        <div class="grid-item">
          <h2>Furnitures</h2>
          <img
            src="images/img4.jpeg"
            alt=""
            style="width: 450px; height: 300px"
          />

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            aspernatur sint expedita quae sapiente accusamus natus, quas cumque
            sequi voluptate fugit eius labore dignissimos quibusdam laudantium
            ratione fuga itaque repudiandae?
          </p>
          <button class="remove">Remove</button>
          <button class="Price">Price</button>
        </div>

        <div class="grid-item">
          <h2>Wears</h2>
          <img
            src="images/img5.jpg"
            alt=""
            style="width: 450px; height: 300px"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            aspernatur sint expedita quae sapiente accusamus natus, quas cumque
            sequi voluptate fugit eius labore dignissimos quibusdam laudantium
            ratione fuga itaque repudiandae?
          </p>
          <button class="remove">Remove</button>
          <button class="Price">Price</button>
        </div>

        <div class="grid-item">
          <h2>Foods</h2>
          <img
            src="images/img6.jpg"
            alt=""
            style="width: 450px; height: 300px"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            aspernatur sint expedita quae sapiente accusamus natus, quas cumque
            sequi voluptate fugit eius labore dignissimos quibusdam laudantium
            ratione fuga itaque repudiandae?
          </p>
          <button class="remove">Remove</button>
          <button class="Price">Price</button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="footer-social-icons" id="footer">
        <ul>
          <li>
            <i
              class="fa fa-facebook-official"
              aria-hidden="true"
              style="color: blue"
            ></i>
          </li>
          <li>
            <i
              class="fa fa-linkedin-square"
              aria-hidden="true"
              style="color: blue"
            ></i>
          </li>
          <li>
            <i class="fa fa-twitter" aria-hidden="true" style="color: blue"></i>
          </li>
          <li>
            <i
              class="fa fa-youtube-play"
              aria-hidden="true"
              style="color: red"
            ></i>
          </li>
          <li>
            <i
              class="fa fa-instagram"
              aria-hidden="true"
              style="color: red"
            ></i>
          </li>
        </ul>
      </div>

      <div class="footer-about">
        <ul>
          <li><span>About</span></li>
          <li><a href="">About HippoCompares</a></li>
          <li><a href="">Cookies policy</a></li>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Connect</a></li>
          <li><a href="/terms">Terms</a></li>
        </ul>
      </div>
      <div class="footer-catalog">
        <ul>
          <li><span>Catalog</span></li>
          <li><a href="">Televisions</a></li>
          <li><a href="">Cell phones</a></li>
          <li><a href="">Brands</a></li>
          <li><a href="">Digital Cameras</a></li>
          <li><a href="">Tablets</a></li>
          <li><a href="">Wears</a></li>
        </ul>
      </div>
      <div class="footer-learn">
        <ul>
          <li><span>Learn More</span></li>
          <li><a href="">Browser Extension</a></li>
          <li><a href="">Enterprise</a></li>
          <li><a href="">Data API</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </div>
      <div class="copyright">&copy;2022 Hippocompares</div>

      <div class="footer-contact-us">
        Contact Us Hippocompares 90 Taison St. Maitama Zone 2, Abuja P.M.B 406
        12345463762
      </div>

      <button>Comments and Suggestions</button>
    </footer>

    <script>
      var btnContainer = document.getElementById("navSelect");
      var btns = btnContainer.getElementsByClassName("btn");

      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }

      function myFunction() {
        var x = document.getElementById("acct");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  </body>
</html>
