<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Categories Screen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/categories.css">
    </head>
    <body>
        <div class="screen-container">
            <!--Header-->
            <header>
                <div class="logo1"></div> <!--the logo-->
                <div class="search-field">
                    <div class="icon1"></div><!--1st Icon-->
                    <input class="search" type="password" placeholder="Search for products and deals">
                </div> <!--an icon in an input-->
                <div class="profile"></div> <!--profile-->
                <div class="hamb"></div> <!--hamburger-->
            </header>

            <!--Nav Bar-->
            <nav>
                <ul class="navbar">
                    <li>Home</li>
                    <li>Deals</li>
                    <li>Stores</li>
                    <li>Categories</li>
                    <li>Wishlist</li>
                    <li class="wishlist">Wishlist</li>
                </ul>
            </nav>

            <!--Cart-->
            <div class="cart"></div> <!--cart icon-->

            <!--Categories Section-->
            <div class="sections-grid-container">
                <div class="grid-item grid-item-1">Appliances</div>
                <div class="grid-item grid-item-2">Furniture</div>
                <div class="grid-item grid-item-3">Office Supplies</div>
                <div class="grid-item grid-item-4">Babies and Kids</div>
                <div class="grid-item grid-item-5">Gifts, Flowers and Food</div>
                <div class="grid-item grid-item-6">Pets and Pet Supplies</div>
                <div class="grid-item grid-item-7">Books and Magazines</div>
                <div class="grid-item grid-item-8">Grocery and Gourmet</div>
                <div class="grid-item grid-item-9">Softwares</div>
                <div class="grid-item grid-item-10">Camera</div>
                <div class="grid-item grid-item-11">Handbags and wallets</div>
                <div class="grid-item grid-item-12">Sport and Outdoors</div>
                <div class="grid-item grid-item-13">Clothings</div>
                <div class="grid-item grid-item-14">Health & Beauty</div>
                <div class="grid-item grid-item-15">Shoes</div>
                <div class="grid-item grid-item-16">Computers</div>
                <div class="grid-item grid-item-17">Home & Garden</div>
                <div class="grid-item grid-item-18">Toys and Games</div>
                <div class="grid-item grid-item-19">DVDs & Videos</div>
                <div class="grid-item grid-item-20">Jewelry</div>
                <div class="grid-item grid-item-21">Video Game Consoles</div>
                <div class="grid-item grid-item-22">Electronic</div>
                <div class="grid-item grid-item-23">Music and Musical Instrument</div>
            </div>

            <!--Subscribe-->
            <div class="subscribe">
                
            </div>

            <!-- Footer -->
            <footer>
                <!--Copyright-->
                <div class="copyright">&copy;2022 Hippocompares</div>
                <!--Social icons-->
                <div class="social-icons">
                    <div class="social logo5"><img src="images/Icon5.png" alt=""></div>
                    <div class="social logo6"><img src="images/Icon6.png" alt=""></div>
                    <div class="social logo7"><img src="images/Icon7.png" alt=""></div>
                    <div class="social logo8"><img src="images/Icon8.png" alt=""></div>
                    <div class="social logo9"><img src="images/Icon9.png" alt=""></div>
                </div>
                <!--Footer NavBar-->
                <div class="footer-navbar-grid-container">
                    <div class="footer-grid">ABOUT</div>
                    <div class="footer-grid">CATALOG</div>
                    <div class="footer-grid">LEARN MORE</div>
                    <div class="footer-grid-item">About Hippocompares</div>
                    <div class="footer-grid-item">Televisions</div>
                    <div class="footer-grid-item">Browser Extention</div>
                    <div class="footer-grid-item">Cookie policy</div>
                    <div class="footer-grid-item">Cell phones</div>
                    <div class="footer-grid-item">Enterprise</div>
                    <div class="footer-grid-item">Privacy Policy</div>
                    <div class="footer-grid-item">Brands</div>
                    <div class="footer-grid-item">Data API</div>
                    <div class="footer-grid-item">Contact</div>
                    <div class="footer-grid-item">Digital Cameras</div>
                    <div class="footer-grid-item">Help</div>
                    <div class="footer-grid-item"></div>
                    <div class="footer-grid-item">Tablet</div>
                    <div class="footer-grid-item"></div>
                    <div class="footer-grid-item"></div>
                    <div class="footer-grid-item">Wares</div>
                </div>
                <!--Contact Us-->
                <div class="contact">
                    <div class="address"><p>Contact Us<br>Hippocompares<br>90 Taison St.<br>Maitama Zone 2, Abuja<br>P.M.B 406<br>12345463762</p></div>
                    <div class="comments"><p>Comments and<br>Suggestions</p></div>
                </div>
            </footer>
        </div>
    </body>
</html>