<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="styles/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="splash-nav">
        <img src="hippo-compares.svg" alt="logo" aria-hidden="true" style="height: 60px;
        width: 120px;">
        <div class="search-box">
         <input type="search" name="search" id="search" placeholder="Search for products and deals" >
         <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <button><i class="fa fa-user"></i></button>
        <button><i class="fa fa-bars" aria-hidden="true"></i></button>

    </div>

    <div class="contact-form">
        <h2><b>Contact us</b></h2>
        <div class="name">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="name" id="name" placeholder="Name" >
        </div>
        <input type="email" name="email" id="email" placeholder="Email">
        <textarea name="" id="message" cols="50" rows="10" placeholder="Enter your message here"></textarea>
        <button type="submit">SEND</button>
    </div>

    <div class="mpt">

    </div>

    <!-- Footer -->
   <footer>
    
    <div class="footer-social-icons">
        <ul>
            <li><i class="fa fa-facebook-official" aria-hidden="true" style="color: blue;"></i></li>
            <li><i class="fa fa-linkedin-square" aria-hidden="true" style="color: blue;"></i>
            </li>
            <li><i class="fa fa-twitter" aria-hidden="true" style="color: blue;"></i></li>
            <li><i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"></i></li>
            <li><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></li>
        </ul>
    </div>

    <div class="footer-about">
        <ul>
            <li><span>About</span></li>
            <li><a href="">About HippoCompares</a></li>
            <li><a href="">Cookies policy</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Connect</a></li>
        </ul>
    </div>
    <div class="footer-catalog">
        <ul>
            <li><span>Catalog</span></li>
            <li><a href="">Televisions</a></li>
            <li><a href="">Cell phones</a></li>
            <li><a href="">Brands</a></li>
            <li><a href="">Digital Cameras</a></li>
            <li><a href="">Tablets</a></li>
            <li><a href="">Wears</a></li>
        </ul>
    </div>
    <div class="footer-learn">
        <ul>
            <li><span>Learn More</span></li>
            <li><a href="">Browser Extension</a></li>
            <li><a href="">Enterprise</a></li>
            <li><a href="">Data API</a></li>
            <li><a href="">Help</a></li>
        </ul>
    </div>
    <div class="copyright">&copy;2022 Hippocompares</div>

    <div class="footer-contact-us">
        Contact Us Hippocompares 90 Taison St. Maitama Zone 2, Abuja P.M.B 406 12345463762
    </div>
     
    <button> Comments and Suggestions</button>
   
</footer>
</body>
</html>