<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="styles/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% if (isAuthenticated) { %>
    <div class="splash-nav">
        <img src="hippo-compares.svg" alt="logo" aria-hidden="true" style="height: 60px;
        width: 120px;">
        <div class="search-box">
         <input type="search" name="search" id="search" placeholder="Search for products and deals" >
         <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        
        <button><i class="fa fa-user"></i></button>
        <button><i class="fa fa-bars" aria-hidden="true"></i></button>

    </div>

    <div class="products">
        <div class="top-prod">
            <img src="images/img5.jpg" alt="brown_bag">
            <img src="images/img6.jpg" alt="">
            <img src="images/img8.jpg" alt="">
        </div>
        <div class="grid-prod">
            <div class="grid-item">
                <img src="images/img9.jpg" alt="" style="width: 450px; height: 300px">
                <p>2-in-1 Foldable Baby Wear with Adjustable Heights </p>
                <button><i class=" fa fa-shopping-cart" aria-hidden="true"> &nbsp; Add to Cart</i></button>
            </div>
            
            <div class="grid-item">
                <img src="images/img10.jpg" alt="" style="width: 450px; height: 300px">
                <p>2-in-1 Foldable Baby Wer with Adjustable Heights</p>
                <button><i class=" fa fa-shopping-cart" aria-hidden="true"> &nbsp; Add to Cart</i></button>
            </div>
            <div class="grid-item">
                <img src="images/img11.jpg" alt="" style="width: 450px; height: 300px">
                <p>2-in-1 Foldable Baby Wer with Adjustable Heights</p>
                <button><i class=" fa fa-shopping-cart" aria-hidden="true"> &nbsp; Add to Cart</i></button>
            </div>
            <div class="grid-item">
                <img src="images/img12.jpg" alt="" style="width: 450px; height: 300px">
                <p>2-in-1 Foldable Baby Wer with Adjustable Heights</p>
                <button><i class=" fa fa-shopping-cart" aria-hidden="true"> &nbsp; Add to Cart</i></button>
            </div>
            <div class="grid-item">
                <img src="images/img13.jpg" alt="" style="width: 450px; height: 300px">
                <p>2-in-1 Foldable Baby Wer with Adjustable Heights</p>
                <button><i class=" fa fa-shopping-cart" aria-hidden="true"> &nbsp; Add to Cart</i></button>
            </div>
            <div class="grid-item">
                <img src="images/img14.jpeg" alt="" style="width: 450px; height: 300px">
                <p>2-in-1 Foldable Baby Wer with Adjustable Heights</p>
                <button><i class=" fa fa-shopping-cart" aria-hidden="true"> &nbsp; Add to Cart</i></button>
            </div>
        </div>
    </div>

    <section class="about-content">
        <div class="top-left">
            <p>About Hippo_compares online shopping:
            </p>
        </div>
        <div class="top-right">
            <p>Hippo_compares online shopping offered on Hippocompares.com are made from the finest quality leather or fabrics, to assure a premium look and feel. Hippo_compares online shopping have gives users the ability to search and compare prizes from different platforms. Fashion enthusiasts are likely to be delighted by the wide range on offer.</p>
        </div>
        <div class="bottom">
            Hippo_compares online shopping come in many different sizes and shapes. They range from extremely tiny items meant for decorative purposes to larger ones, available in solid patterns as well as embellished with gems, stones, and even precious metals. Hippo_compares online shopping can be rigid and inflexible or made from soft and stretchy materials, depending on the needs of the user. They may be transparent or have solid colors, and can be carefully handcrafted with mirrors and other ornamentations.
        </div>
    </section>

    <div class="subscribe">
            <div>
                <i class="fa fa-envelope-o" aria-hidden="true">  </i>
                <p><span> Subscribe  to the monthly newsletter </span><br> <br>
              Get the latest  news and update on Hippocompares. You’ll be glad you did
            <button>Subscribe</button></p>
        </div>
    </div>
   <!-- Footer -->
   <footer>
    
    <div class="footer-social-icons">
        <ul>
            <li><i class="fa fa-facebook-official" aria-hidden="true" style="color: blue;"></i></li>
            <li><i class="fa fa-linkedin-square" aria-hidden="true" style="color: blue;"></i>
            </li>
            <li><i class="fa fa-twitter" aria-hidden="true" style="color: blue;"></i></li>
            <li><i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"></i></li>
            <li><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></li>
        </ul>
    </div>

    <div class="footer-about">
        <ul>
            <li><span>About</span></li>
            <li><a href="">About HippoCompares</a></li>
            <li><a href="">Cookies policy</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Connect</a></li>
        </ul>
    </div>
    <div class="footer-catalog">
        <ul>
            <li><span>Catalog</span></li>
            <li><a href="">Televisions</a></li>
            <li><a href="">Cell phones</a></li>
            <li><a href="">Brands</a></li>
            <li><a href="">Digital Cameras</a></li>
            <li><a href="">Tablets</a></li>
            <li><a href="">Wears</a></li>
        </ul>
    </div>
    <div class="footer-learn">
        <ul>
            <li><span>Learn More</span></li>
            <li><a href="">Browser Extension</a></li>
            <li><a href="">Enterprise</a></li>
            <li><a href="">Data API</a></li>
            <li><a href="">Help</a></li>
        </ul>
    </div>
    <div class="copyright">&copy;2022 Hippocompares</div>

    <div class="footer-contact-us">
        Contact Us Hippocompares 90 Taison St. Maitama Zone 2, Abuja P.M.B 406 12345463762
    </div>
     
    <button> Comments and Suggestions</button>
   
</footer>
<% } %>
</body>
</html>