<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    
    <link rel="stylesheet" href="styles/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lato:ital,wght@0,100;0,400;0,700;1,300;1,700&family=Lexend+Deca&family=Nunito:wght@200;300;400;500;600;700;800&family=Rubik:ital@1&display=swap"
      rel="stylesheet"
    />
    
    <!-- <link
      rel="stylesheet"href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/> -->
  </head>
  <body>
    <div class="split-screen">
      <div class="right">
        <form action="/login" method="POST">
          <section class="copy">
            <h1>Login to your Account</h1>
            <div class="login-container">
              <div class="go-back"><a href="/">&#8249</a></div>
              <p id="login">Login using social networks</p>
              <a href="#"><i class="fab fa-facebook-f" style="color: blue; font-size: 40px; margin: 0 50px;"></i></a>
              <a href="#"><i class="fab fa-twitter" style="color: blue; font-size: 40px; margin: 0 50px;"></i></a>
              <a href="#"><i class="fab fa-instagram" style="color: red; font-size: 40px; margin: 0 50px;"></i></a>
              <p class="or" style="text-decoration: none;">OR</p>
            </div>
          </section>
          <% if (errorMessage) { %>
            <div class="user-message user-message_error"><%= errorMessage %></div>
          <% } %>
          <div class="input-group1">
            <i class="fas fa-envelope"></i>
            <input type="text" name="email" placeholder="Email" required />
          </div>
          <div class="input-group2">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required />
          </div>
          <button id="forget" type="reset" onclick="window.location='/forgotPassword'">Forget Password?</button>
          <div ><button class="btn-1" type="submit">LOGIN</button></div>
          

          <div class="no-account-container">
            <p style="text-decoration: none;" id="no-acct">Don't have an acount? </p>
            <button type="reset" onclick="window.location='/register'">Create an account</button>
          </div>
        </form>
      </div>
      <div class="left">
        <section class="copy">
          <h2>New Here ?</h2>
          <p>
            Sign-up and discover how you can compare prices and enjoy a great
            amount and new opportunities!
          </p>
          <button class="sign-up" type="button" onclick="window.location='/register'">SIGN UP</button>
        </section>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
